
.cursor{
  font-weight:bold;
  -webkit-animation: cursorAnim 0.7s infinite;
  -moz-animation: cursorAnim 0.7s infinite;
  animation: cursorAnim 0.7s infinite; 
}
@keyframes cursorAnim{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes cursorAnim{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes cursorAnim{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



h1 {
  font-family:'Verdana',sans-serif;
  line-height:1.4em;
  font-size:1.75em;
  text-align:center;
  overflow:hidden;  
}